.footer {
	.container {
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		padding: 5.2rem 2rem;
		gap: 2.6rem;
	}
	&__social {
		display: flex;
		gap: 3.5rem;
	}
	.copyright {
		font-size: 1.4rem;
		line-height: 2.1rem;
	}
}

path:hover {
	fill: $color-primary;
}
