nav {
	margin-left: auto;
	ul {
		display: flex;
		column-gap: 3.3rem;
	}
	.nav__link {
		font-size: 2rem;
		line-height: 1.5;
		color: black;
		font-family: $heebo;
		font-weight: 500;
	}
	.nav__link:hover {
		color: $color-primary;
	}

	@include responsive(max-phone) {
		z-index: 10;
		position: fixed;
		width: 100%;
		height: 100%;
		top: 0;
		left: 0;
		@include responsive(max-phone) {
			background: rgba(70, 5, 130, 0.7);
			padding-top: 20rem;
		}

		ul {
			flex-direction: column;
			text-align: center;
			gap: 5rem;
		}
		.nav__link {
			color: white;
			font-size: 3rem;
			letter-spacing: 0.7rem;
		}
	}
}
