.works {
	&__title {
		margin-bottom: 1.1rem;
		@include responsive(min-tablet) {
			text-align: center;
		}
	}
	&__list {
		display: flex;
		flex-direction: column;
		gap: 3.1rem;
		margin-bottom: 8.3rem;
		@include responsive(min-tablet) {
			gap: 2.2rem;
		}
	}
	&__item {
		border-bottom: 1px solid $gray;
		display: flex;
		gap: 1.8rem;
		padding-bottom: 3.5rem;
		align-items: center;
		@include responsive(min-tablet) {
			padding-bottom: 1.7rem;
			p {
				padding: 0;
			}
		}

		@include responsive(min-tablet) {
			flex-direction: column;
			&-img {
				width: 80vw;
				height: inherit;
			}
			justify-content: center;
		}
	}

	&__item-infos {
		display: flex;
		flex-direction: column;
		@include responsive(min-tablet) {
			width: 80vw;
		}
	}
	&__item-title {
		font-size: 3rem;
		line-height: 1.5;
		margin-bottom: 1.6rem;
		@include responsive(phone) {
			font-size: 2.4rem;
		}
	}
	&__item-info {
		display: flex;
		gap: 2.6rem;
		margin-bottom: 1.7rem;
	}
	&__item-subt {
		padding-bottom: 3rem;
	}
}
.year-button {
	width: 6.2rem;
	height: 2.5rem;
	border-radius: 16px;
	background-color: $color-time-1;
	color: white;
	font-weight: 900;
	font-size: 1.8rem;
	padding: 0.4rem;
}
.indikator {
	font-weight: 400;
	font-size: 2rem;
	line-height: 2.9rem;
	color: #8695a4;
}
@include responsive(min-tablet) {
	.hide:not(:first-child) {
		display: none;
	}
}
