button {
	border: 0;
	cursor: pointer;
}
button:hover {
	background-color: $color-secondary;
}
.header__button {
	z-index: 10;
	margin-left: auto;
	display: none;
	user-select: none;
	@include responsive(max-phone) {
		display: block;
	}
}
.year-button:hover {
	background-color: $color-primary;
	color: white;
}
.header__button:hover {
	cursor: pointer;
}
