$color-primary: #ff6464;
$color-secondary: #00a8cc;
$color-dark: #21243d;
$gray: #e0e0e0;

// bg
$color-bg: #ffffff;
$color-bg-section: #edf7fa;
$color-time-1: #142850;
$color-time-2: $color-primary;

// size
$container: 855px;

// fonts
$heebo: "Heebo", "Arial", sans-serif;
